
{% extends 'navbar.html' %}

{% block content  %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 m-auto">

        {% for category, message in get_flashed_messages(with_categories=True) %}
            
            <div class="alert alert-{{category}} alert-dismissible">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span>&times;</span></button>
            </div>

        {% endfor %}

                <br/>
                

                  <!-- Creting PMS Nav Table -->
  <section id="pms">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          
          <h2>{{ pms.name }} : 

              {{ (month|string + ' ' + year|string)|month_year_format }}

        </h2>       
          <br>
          <br>
          <form method="POST">
              {{ form.hidden_tag() }}
              <div>
                  {{ form.nav.label }}
                  {{ form.nav(value=nav.nav) }}
                  {% if form.nav.errors %}
                  <ul>
                      {% for error in form.nav.errors %}
                      <li>{{ error }}</li>
                      {% endfor %}
                  </ul>
                  {% endif %}
                  <br>
                  <br>
                  <button type="submit" class="btn btn-primary">Update Nav</button>      
                    
                  
                  <a href="{{ url_for('nav.pms_nav_list', pms_id=pms_id) }}" class="btn btn-secondary">
                    <i class="fas fa-angle-double-left"></i> Back to NAV List
                  </a>

              </div>

          </form>
          
          <br>
          <br>




        </div>
      
       

      </div>
    </div>
  </section>

        </div>
    </div>
</div>   
{% endblock %}