{% extends 'admin_navbar2.html' %}

{% block content  %}


        {% for category, message in get_flashed_messages(with_categories=True) %}
            
            <div class="alert alert-{{category}} alert-dismissible">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span>&times;</span></button>
            </div>

        {% endfor %}

        <br/>
        <!-- <div class="card"> -->

            <!-- <div class="container mt-5"> -->
                <div class="row">
                    <div class="col-md-1"></div>
                    <!-- First form with text field and submit button -->
                    <div class="col-md-2">
                        <form id="myForm" action="{{ url_for('admin.pms_reports') }}" method="POST" class="form-inline">
                            {{ form.csrf_token }}
                            <div class="form-group">
                                <select class="form-control mr-2" id="monthYear" name="monthYear">
                                    <!-- Options will be dynamically populated here -->
                                </select>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                    <!-- Spacer -->
                    <!-- <div class="col-md-1"></div> -->
                    <!-- Second form with submit button -->
                    <div class="col-md-2">

                        <form action="{{ url_for('admin.download_excel') }}" method="POST">
                            {{ form.csrf_token }}
                            <input type = "hidden" id="month" name="month" value="{{month}}">
                            <input type = "hidden" id="year" name="year" value="{{year}}">
                            <button type="submit" class="btn btn-secondary" >Download Excel</button>
                        </form>
        
                    </div>
                </div>
            <!-- </div> -->
        <!-- </div>   -->
<hr>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
          
                {% for key in keys %}
                <th>
                    {{ key }}

                </th>
                {% endfor %}

            </tr>
        </thead>
        <tbody>
            {% for list in lists %}
            <tr>
                {% for item in list %}
                <td>
                        {{ item }}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}

        </tbody>
    </table>

    <script>
        // Function to dynamically populate month and year options
        function populateMonthYear() {
            var select = document.getElementById('monthYear');
            var currentDate = new Date();
            var currentMonth = currentDate.getMonth() + 1; // Months are zero-based
            var currentYear = currentDate.getFullYear();
    
            for (var i = 0; i < 12; i++) {
                var month = currentMonth - i;
                var year = currentYear;
    
                if (month <= 0) {
                    month += 12;
                    year--;
                }
    
                var option = document.createElement('option');
                option.text = new Date(year, month - 1, 1).toLocaleString('en-US', { month: 'long' }) + ', ' + year;
                option.value = month.toString().padStart(2, '0') + year.toString();
                select.add(option);
            }
        }
    
        // Call the function when the page loads
        window.onload = function() {
            populateMonthYear();
        };
    </script>
    
 

{% endblock %}