
{% extends 'navbar.html' %}

{% block content  %}
<div class="container">
    <div class="row">
      <div class="col-sm-6 m-auto">

            {% for category, message in get_flashed_messages(with_categories=True) %}
                <div class="alert alert-{{category}} alert-dismissible">
                    <strong>{{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span>&times;</span></button>
                </div>

            {% endfor %}

                <!-- <h1>Login  </h1> -->
                <br/>
                <form method = "POST">
                    {{ form.hidden_tag() }}

                    <br/>
                    {{ form.email.label(class="form-label")}}
                    {{ form.email(class="form-control")}}  

                    <br/>
                    {{ form.password_hash.label(class="form-label")}}
                    {{ form.password_hash(class="form-control")}}  

                    <br/>


                    {{ form.submit(class="btn btn-primary") }}           
                </form>

                <br/>
            
                <div class="mt-2 col-md-12">                

                    <a href="/resetreq" > Forgot password!</a>    
                </div>

        </div>
    </div>
</div>   
{% endblock %}