{% extends 'navbar.html' %}

{% block content  %}

<div class="text-center">
    <br><br><br>
    <h1>Welcome to the partner portal of PMS AIF WORLD !</h1>
    <br><br><br><br>
    {% if not loggedin %}
        <h2>To submit the performance of your PMS strategies, </h2>
        <h2>
            <br>
            please <a href="{{ url_for('auth.login') }}" style="font-weight: bold; font-size: 1.5em;">login here</a>
        </h2>
    {% endif %}
    <br><br><br><br><br><br><br>
    <br><br><br><br>
    <br><br><br><br><br>
</div>

{% endblock %}


