
{% extends 'navbar.html' %}

{% block content  %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 m-auto">

        {% for category, message in get_flashed_messages(with_categories=True) %}
            
            <div class="alert alert-{{category}} alert-dismissible">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span>&times;</span></button>
            </div>

        {% endfor %}

                <br/>
                

                  <!-- Creting PMS Nav Table -->
  <section id="pms">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card-header">
              <h4>{{pms.name}}</h4>
            </div>
            <table class="table table-striped">
              <thead>
                  <tr>
                      <th>Year</th>
                      <th>Month</th>
                      <th>NAV Value</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  {% for nav in navs %}
                  <tr>
                      <td>{{ nav.p_year }}</td>
                      <td> {{(nav.p_month | string) |month_year_format }}</td>
                      <td>{{ nav.nav }}</td>
                      <td>

                          <a href="{{ url_for('nav.edit_nav', pms_id=pms_id, year=nav.p_year, month=nav.p_month) }}" class="btn btn-secondary">
                            <i class="fas fa-angle-double-right"></i> Edit Nav
                          </a>
                      </td>
            
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          
          <br>
          <br>
          <div class="col-md-3">
          <a href="{{ url_for('nav.add_missing_nav', pms_id=pms_id) }}" class="btn btn-secondary">
            <i class="fas fa-angle-double-right"></i> Add Missing Navs
          </a>
          </div>

          </div>
        </div>
      
       

      </div>
    </div>
  </section>

        </div>
    </div>
</div>   
{% endblock %}